@model IEnumerable<Online_Recharge_WebApp.Models.CustomerSupport>

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Email Id
            </th>
            <th>
                Subject
            </th>
            <th>
                Time of Complaint
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Id == ViewBag.Id)
            {
                <form method="post">
                <tr>
                    <td>
                        <input name="EmailId" class="form-control" value="@item.EmailId" placeholder="Email ID" />
                    </td>
                    <td>
                        <input name="EntryType" class="form-control" value="@item.EntryType" placeholder="Subject" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                    
                    <td>
                        <textarea name="ComplaintMessage" class="form-control">@item.ComplaintMessage</textarea>
                    </td>
                        @if (item.Completed)
                        {
                        <td class="text-success">Solved</td>
                        }
                        else
                        {
                        <td class="text-danger">Pending</td>
                        }

                    <td>
                        <button class="btn btn-success"type="submit" role="button">Apply</button>
                        <a class="btn btn-danger" asp-action="Index" >Cancel</a>
                    </td>
                </tr>
            </form>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComplaintMessage)
                    </td>
                    @if (item.Completed)
                    {
                        <td class="text-success">Solved</td>
                    }
                    else
                    {
                        <td class="text-danger">Pending</td>
                    }

                    <td>
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a><br />
                        <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Details</a><br />
                        <button class="btn btn-outline-danger" onclick='myDelete("/CustomerSupport/Delete/@item.Id","@item.Id")'>delete</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    function myDelete(link, id) {
        let text = "Are you sure you want to delete book " + id + " ?";
        let _link = link;
        if (confirm(text) == true) {

            window.open(link, '_self');
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
